
/*Обнуление*/
/**{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}*/
/*--------------------*/

/*Основные стили*/
/*Overlay*/
	.popup__contentOverlay {
		font-size: 16px;
		font-weight: normal;
		width: 70%;
		
		padding: 20px;
		background-color: #fff;
		/*text-align: center;*/
		border-radius: 0% 0% 0px 0px;
		box-shadow: 0 0 20px #000;
		position: relative;
		top:60px;
		transition: all 0.8s ease 0s;
		opacity: 0;
		transform: perspective(600px) translate(0px,-100%) rotateX(45deg);

	}
	.popup{
		position: fixed;
		width: 100%;
		height: 100%;
		background-color:  rgba(0, 0, 0, 0.8);
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		overflow-y: auto;
		overflow-x: hidden;
		transition: all 0.8s ease 0s;
		z-index: 10;
	}
	.popup:target{
		opacity: 1;
		visibility: visible;
	}
	.popup:target .popup__contentOverlay{
		transform: perspective(600px) translate(0px,0%) rotateX(0deg);
		opacity: 1;
	}
	.popup__area{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.popup__body{
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.popup__close{
		position: absolute;
		right: 10px;
		top: 10px;
		font-size: 20px;
		color: black;
		text-decoration: none;
	}

	.container_img {
		position: relative;
		text-align: left;
		margin: 40px 10px;
	}

	.container_img5 {
		position: relative;
		text-align: left;
		/*width:45%; */
		margin: 40px auto;
	}

	.top-left {
		position: absolute;
		top: 28px;
		left: 16px;
		z-index: 3;
		color: white;
		font-size: calc(16px + (30 - 16)*((100vw - 320px)/(1180 - 320)));
		font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";*/
	}

	.centered {
		position: absolute;
		top: 110px;
		left: 16px;
		z-index: 3;
		color: white;
		font-size: 14px;
		font-weight: 50;
		font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	}

	.row {
		display: -ms-flexbox; /* IE10 */
		display: flex;
		-ms-flex-wrap: wrap; /* IE10 */
		flex-wrap: wrap;
		padding: 0px 0px;
		justify-content: space-around;
	}

	/* Create four equal columns that sits next to each other */
	.column {
		-ms-flex: 50%; /* IE10 */
		flex: 50%;
		max-width: 50%;
		padding: 0px 3%;
	}

	.column img {
		margin-top: 0px;
		vertical-align: middle;
		width: 100%;
		border-radius: 10px;
		/*outline: 2px solid #c44f4f; /* Чёрная рамка */
	}

	.darkened {
		position: relative;
	}

	.darkened::before {
		content: '';
		position: absolute;
		border-radius: 10px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.5);  
		z-index: 2;
	}

	.btn {
		position: absolute;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.5);
		border: 2px solid white;
		border-radius: 15px;
		color: white;
		padding: 10px 32px;
		text-align: center;
		font-size: 16px;
		margin: 20px 20px;
		transition: 0.3s;
		z-index: 3;
	}

	.btn:hover {
		background-color: #d5a575;
		color: white;
		cursor: pointer;
	}

	.podrobnee{
		color: white;
		text-decoration: none;
	}	

	/* Responsive layout - makes a two column-layout instead of four columns */
	@media screen and (max-width: 1000px) {
		.top-left {
			top: 12px;
			/*font-size: 24px;*/
		}

		.centered {
			top: 80px;
			font-size: 14px;
			font-weight: 30;
		}
	}
	@media screen and (max-width: 800px) {
		.top-left{
			/*font-size: 20px;*/
			top: 20px;
			left: 18px;
		}
		.centered {
			top: 70px;
			left: 16px;
			font-size: 12px;
		}
		.column {
			padding: 0 10px;
		}
		.row {
			padding: 0 10px;
		}
		.btn {
			background-color: rgba(0,0,0,0.5);
			border: 2px solid white;
			border-radius: 10px;
			padding: 6px 16px;
			text-align: center;
			font-size: 14px;
			margin: 15px 15px;

		}
	}

		/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
	@media screen and (max-width: 700px) {
		.column {
			-ms-flex: 100%;
			flex: 100%;
			max-width: 100%;
		}
	   .top-left{
			font-size: calc(16px + (40 - 16)*((100vw - 320px)/(700 - 320)));
			top: 10px;
		   left: 18px;
		  }
		.centered {
		   top: calc(40px + (100 - 40)*((100vw - 320px)/(700 - 320)));
		   left: 18px;
		   font-size: calc(10px + (20 - 10)*((100vw - 320px)/(700 - 320)));
			margin: 8px 0px;
		}
		.column {
		   padding: 0 10px;
		}
	  	.row {
		   padding: 0 10px;
		}
		.btn {
			background-color: rgba(0,0,0,0.5);
			border: 2px solid white;
			border-radius: 10px;
			padding: 6px 16px;
			text-align: center;
			font-size: calc(14px + (34 - 14)*((100vw - 320px)/(700 - 320)));
			margin: 18px 20px;
		}
		.container_img5 {
			width:100%; 
			/*margin: 0px 0px;*/
			padding: 0px 10px;
		}		
	}
	@media screen and (max-width: 600px) {
		.top-left{
			/*font-size: 16px;*/*/
			top: 10px;
		   left: 18px;
		  }
		.centered {
		   /*top: 40px;*/
		   left: 18px;
		   /*sfont-size: 10px;*/
			margin: 8px 0px;
		}
	}